body
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    line-height: 1.5
    max-width: 780px;
    margin: 0 auto;

html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 
    -webkit-text-size-adjust:none;

       
  
@media screen and (min-width: 780px)
   html     
        
